# BEGIN vintage-shield
{$VINTAGE_SHIELD_DOMAIN} {
	encode zstd gzip
	@privateApi path /api/internal/*
	respond @privateApi 404
	reverse_proxy vintage-shield-web:3000

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "strict-origin-when-cross-origin"
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
	}
}
# END vintage-shield
